Dear {firstname}, Datamanager of {group}

I am pleased to announce that the Eawag Research Data Institutional Repository for Open Data (Eric/open) is running since Nov 4. as "Public Beta":
https://opendata.eawag.ch/

This repository can be accessed from everybody, not only from Eawag staff, as the long-established ERIC (https://data.eawag.ch).

There are {no_packages} research data packages originating from {group} which are set to "Open" in ERIC, but have not yet been published. As announced some time ago, we now ask you to have a second look at these packages, fix any issues that stand in the way of openly publishing them, and let us know when they are ready to be published. Depending on the arrangements in your group you might want to forward this email to the individual researchers who uploaded the packages. Just make sure please that somebody takes responsibility for this task.

You will find a list of links pointing to these packages at the bottom of this email.

When checking these packages, please consider the following six points:

1. Each package needs a file README.txt or README.md that is not inside a zip-archive. The content of this README file is described here (ideal case):
   https://doi.org/10.25678/000066#documentation-scientific-metadata
   Please make sure that at least the first three point in the list below "Documentation (“scientific metadata”)" are honored.

2. Check that neither the package itself, nor any zip-archives contain garbage, for example files or folders named .DS_Store, __MACOSX, __pycache__, ~*.tmp, ....

3. Can the files be opened? (for common formats which should open on your machine)

4. Are they free of copyright restrictions? If the package contains a PDF of a research article that is not Open Acces, please remove it.

5. Do they appear to be free of sensitive data? Check that the datasets do not contain personal data (names, telephone-numbers, location data of people, ....). If in doubt, please get in touch with rdm@eawag.ch.

6. Do the metadata appear to be complete and correct? If the data has a geographical and/or temporal dimension, such as sampling location and/or -date: Are the resepective fields in the metadata populated? Does the map look right? Are the author's names in the proper format (Lastname, Firstname)? If this is marked as "publication package": Does the metadata contain a reference to the associated article? Set the "review level" to "general" and the "reviewed by" to your name.

Thank you very much for your work! This is quite an important activity since publishing our research as Open Data demonstrates that Eawag and your research group are committed to fulfil the quality standards and expectations of the global scientific community. Any openly published dataset also increases the researchers' chance to get cited and to establish collaborations. Last not least, being comfortable with openly publishing research data of a specific work shows that the scientist is confident of the quality of their work.


List of research data packages in your group:

{list_of_packages}


